<!DOCTYPE html>
<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{#with header}}
      <header>
        <div>
          <h1>{{name.firstname}}{{name.lastname}}</h1>
        </div>
        <div>
          <b>{{position}}</b>
        </div>
        <br>
        <div>
          <em>{{salary}}</em>
        </div>
        <hr>
      </header>
    {{/with}}
  
     {{>nav}}
     <br>
     <hr>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}
     <br>
       <hr>

      {{>footer social=footer.social firstname=header.name.firstname
      lastname=header.name.lastname address=header.address}}
      
  </body>


</html>